<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>

</head>

<body>


<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="navigation">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Talented Developer Stripe Portal</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
       
        <li class="nav-item">
          <a class="nav-link" href="customer">Customer 11</a>
        </li>
        
      </ul>
    </div>
  </div>
</nav>
	 
	

</body>

</html>